header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.palavras {
    text-align: center;
    margin-bottom: 20px; 
}

.desconto {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.produto-preco {
    font-weight: bold;
    margin-top: 10px;
}

.banner1 {
    width: 40%;
}

.banner2 {
    width: 40%;
}

.banner3 {
    width: 40%;
}

.banner4 {
    width: 40%;
}

footer {
    text-align: center;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkQ4fxZ7Xz1TjvaSXlwAMGRcFHyt3s69HOqA&usqp=CAU);
    padding: 40px 0;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

.copyright {
    color: #000000;
    font-size: 13px;
    margin: 20px 0 0;
}
