 p {
                 text-align:center
             }

             #banner {
                 width: 60%;
             }

             .titulo-centralizado {
                text-align: Center
             }
        
             .imagem {
                width: 50%
             }
             ul {
                display: inline-block;
                vertical-align: top;
                width: 20%;
                margin-right: 15%;
             }

             .beneficios {
                background: #FFFFFF;
                PADDING: 20px;
             }

             .principal {
                background: #CCCCCC;
                PADDING: 20PX;
             }

             .titulo-principal {
                padding-left: 20px
             }
